@model IEnumerable<MEU.web.Data.Entities.New>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="AddNew">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublication)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublication)
                </td>
                <td>
                    <a asp-action="EditNew" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="NewImagetList" asp-route-id="@item.Id">Gallery</a>
                    <button data-id="@item.Id" class="btn btn-danger deleteNew" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_DeleteDialog" />

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(document).ready(function ()
        {
            var item_to_delete;

            $('.deleteNew').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function ()
            {
                window.location.href = '/News/DeleteNew/' + item_to_delete;
            });
        });
    </script>
}
